body{
  background-color: white;

  header{
    background-color: white;
    height: 80px;
    border-bottom: 1px solid black;

    a{
      color: white;
      text-transform: uppercase;
    }
  }
}
