*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;


body{
  background-color: white;

  header{
    background-color: white;


    .wrapper{
      display: flex;
      justify-content: center;


        .nav{
          height: 79px;
          width: 1200px;
          border-bottom: 1px solid black;
          display: flex;
          justify-content: space-between;


          .logo{
            line-height: 80px;
            display: contents;
            float: left;

            .logo img{
              color: #4e3d1d;
            }





          }

          .menu-right{
            display: block;
            float: left;

            .menu-items{
              width: 400px;
              position: relative;
              height: 80px;
              float: left;
              display: contents;


             a:hover{
              color: blue;
            }

             a{
               // float: left;
               color: #4e3d1d;
               text-transform: capitalize;
               text-decoration: none;
               line-height: 80px;
               margin-right: 40px;
               font-size: 14px;





             }

             .dropd-menu{
                display: none;
                position: absolute;
                width: 80px;
                text-align: center;

             }

            }
          }
        }
      }
    }

  main{

    .jumbo{

      .container::after{
        clear: both;
    display: block;
    content: "";
      }
      .container{
        width: 1200px;
        height: 6120px;


        .title{

          h1{
            color:#4e3d1d;
            padding: 55px;
            margin-left: 50px;
            font-size: 55px;
            margin-right: 457px;
            font-weight: 500;
          }
        }
      }
    }

  }

  }
}
